<!DOCTYPE html>
{% set version = "A0.1.2" %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.ico') }}">
    <title>{% block title %}BugDiary{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unilay5.css') }}?v={{version}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}?v={{version}}">
    <script src="{{ url_for('static', filename='js/toggles.js')}}?v={{version}}" charset="utf-8"></script>
    {% block addons %}{% endblock %}
  </head>
  <body>
    <header>
        <div id="logo"><a href="{{ url_for('core.index') }}">
            {% block custom_logo %}BugDiary{% endblock %}
        </a></div>
        <nav id="navigation">
          {% block custom_nav %}
          <a href="{{ url_for('users.dashboard') }}">MY BUGDIARIES</a>
          <a href="{{ url_for('core.about') }}">ABOUT</a>
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('users.logout') }}">LOGOUT</a>
          {% endif %}
          <a id="closeMenu" onClick="toggleMenu()">CLOSE</a>
          {% endblock %}
        </nav>
        <button id="openMenu" onClick="toggleMenu()">
          &#9776;
        </button>
        <div id="shades" class="hidden" onClick="toggleMenu()"></div>
    </header>
      {% block templateMain %}
      <main>
        <h1>No content</h1>
      </main>
      {% endblock %}
    <footer>
      <div id="copyright">
        &copy; Sen Tang, 2020
      </div>
      <div id="version">
        BugDiary.com ({{ version }})
      </div>
    </footer>
  </body>
</html>
