{% macro ad(size) %}
<div class="sidebar-block bg-gray">
    <h3>Advertisement</h3>
    <p>
        No ads, yay!!
    </p>
</div>
{% endmacro %}

{% macro custom_style(header_color, background_color) %}
<style>
header {
    background-color: {{ header_color }};
}
body {
    background-color: {{ background_color }};
}
</style>
{% endmacro %}


{% macro search(suggestions) %}
<form action="{{ url_for('users.search') }}" method="get" class="lined block">
    <input name="search_term" type="text" list="project_names" placeholder="Enter a project name">
    <datalist id="project_names">
        {% for suggestion in suggestions %}
        <option value="{{suggestion.name}}">{{suggestion.name}} - {{suggestion.description[:20]}}</option>
        {% endfor %}
    </datalist>
    <input type="submit" value="Search" class="button-secondary">
</form>
{% endmacro %}