{% macro ad(size) %}
<!-- <div class="sidebar-block bg-gray">
    <h3>Advertisement</h3>
    <p>
        No ads, yay!!
    </p>
</div> -->
{% endmacro %}

{% macro custom_style(settings) %}
<style>
header, .notification {
    background-color: {{ settings.header_color }};
}
header #navigation a:link,
header #logo a:link, 
header #logo a:hover
{
    color: {{ settings.header_text_color }} !important;
}

#openMenu {
    background-color: {{ settings.menu_color }};
}

body {
    background-color: {{ settings.background_color }};
    color: {{ settings.text_color }};
}

.sidebar-block {
    background-color: {{ settings.aside_color }};
}

a {
    color: {{ settings.link_color }};
}
</style>
{% endmacro %}


{% macro search(suggestions) %}
<form action="{{ url_for('users.search') }}" method="get" class="lined bg-white block" autocomplete="off">
    <input name="search_term" type="text" list="project_names" placeholder="Enter a project name">
    <datalist id="project_names">
        {% for suggestion in suggestions %}
        <option value="{{suggestion.name}}">{{suggestion.name}} - {{suggestion.description[:20]}}</option>
        {% endfor %}
    </datalist>
    <input type="submit" value="Search" class="button-secondary">
</form>
{% endmacro %}





{% macro bug_controls(bug) %}
{% if bug.status != "RESOLVED" %}
<button onclick="fill_card_form('{{bug.id}}', 'resolve')">RESOLVE</button>
{% endif %}
<button onclick="fill_card_form('{{bug.id}}', 'pin')">
    {% if bug.status != "PINNED" %}
    PIN
    {% else %}
    UNPIN
    {% endif %}
</button>
<button onclick="fill_card_form('{{bug.id}}', 'delete')">
    {% if bug.status != "DELETED" %}
    DELETE
    {% else %}
    UNDELETE
    {% endif %}
</button>
{% endmacro %}





{% macro bugcard(bug, show_controls, color_code = {"PENDING": "bg-yellow", "RESOLVED": "bg-green", "DELETED": 'bg-black', "PINNED": 'bg-red'}) %}
<div id="card-{{bug.id}}" style="position: relative;">
    <div class="card">
        <h2>#{{ bug.ref_id }}</h2>
        <div>
            <div class="tag-mini {{ color_code[bug.status] }}">{{ bug.status }}</div>
            
            <div class="tag-mini bg-gray">
                <a href="?searchtype=location&searchterm={{bug.bug_location}}">
                    Loc: {{ bug.bug_location }}
                </a>
            </div>
            <div class="tag-mini bg-gray">
                <a href="?searchtype=type&searchterm={{bug.bug_type}}">
                    Type: {{ bug.bug_type }}
                </a>
            </div>
            <div class="tag-mini tag-white">
                <a href="?searchtype=version&searchterm={{bug.version}}">
                    {{ bug.version }}
                </a>
            </div>
        </div>
        <h4>Description</h4>
        <p class="linebreak">{{ bug.details }}</p>
        <div class="author">
            {% if bug.author != "" or bug.author_email != "" %}
            <b>Reported by:</b> {{ bug.author }} (Email: {{ bug.author_email }})
            {% endif %} <br>
            <b>Reported on:</b> {{ bug.report_date.strftime('%Y-%m-%d') }}
            <br>
            {% if status == "RESOLVED" %}
            <b>Resolved on:</b> {{ bug.resolve_date }}
            {% endif %}
        </div>
    
        {% if show_controls == True %}
        <div class="cardcontrolstoggle" onClick="showControls('card-{{bug.id}}-controls')">
            &circledcirc;
        </div>
        <div class="hidden cardcontrols" id='card-{{bug.id}}-controls'>
            {{ bug_controls(bug) }}
            <button onClick="showControls('card-{{bug.id}}-controls')" style="color: #ff3939">CANCEL &rarrhk;</button>
        </div>
        {% endif %}
    </div>
    <div style="position: fixed; top: 0; left: 0;" class="hidden" id="card-{{bug.id}}-process"></div>
</div>
{% endmacro %}


{% macro project_nav(project) %}
<a href="{{ url_for('users.dashboard') }}">My BugDiaries</a>
<a href="{{ url_for('projects.dashboard', project_url = project.url) }}">{{project.name}}</a>
<a href="{{ url_for('projects.settings', project_url = project.url) }}">Settings</a>
<a href="{{ url_for('users.logout') }}">Logout</a>
{% endmacro %}




{% macro summary_with_stats(project) %}
<div class="project-summary">
    <div class="name shadowed">
        <a href="{{ url_for('projects.dashboard', project_url = project['url']) }}">open</a><span onclick="toggleElement('sum-{{project.id}}')">{{ project['name'] }}</span>
        <p class="hidden" id="sum-{{ project.id}}">
            {% if project['description'] != "" %}
            {{ project['description'] }}
            {% else %}
            No Description Provided
            {% endif %}
        </p>
    </div>
    <div class="stats text-centered shadowed bg-yellow">
        {{ project['since_last_login'] }}
    </div>
    <div class="stats text-centered shadowed bg-green">
        {{ project['resolved'] }}
    </div>
    <div class="stats text-centered shadowed bg-red">
        {{ project['unresolved'] }}
    </div>
</div>
{% endmacro %}


{% macro bug_row(bug, show_controls, color_code = {"PENDING": "bg-yellow", "RESOLVED": "bg-green", "DELETED": 'bg-black', "PINNED": 'bg-red'}) %}
<tr id="row-{{bug.id}}">
    <td>{{bug.ref_id}}</td>
    <td><div class="tag-mini {{ color_code[bug.status] }}">{{ bug.status }}</div></td>

    <td>
        <div class="tag-mini bg-gray">
            <a href="?searchtype=location&searchterm={{bug.bug_location}}">
                {{ bug.bug_location }}
            </a>
        </div>
    </td>
    <td>
        <div class="tag-mini bg-gray">
            <a href="?searchtype=type&searchterm={{bug.bug_type}}">
                {{ bug.bug_type }}
            </a>
        </div>
    </td>
    <td>
        <div class="tag-mini tag-white">
            <a href="?searchtype=version&searchterm={{bug.version}}">
                {{ bug.version }}
            </a>
        </div>
    </td>
    <td>
        <div class="linebreak">
            {{bug.details}}
        </div>
        <div class="author">
            {% if bug.author != "" or bug.author_email != "" %}
            <b>Reported by:</b> {{ bug.author }} (Email: {{ bug.author_email }})
            {% endif %} <br>
            <b>Reported on:</b> {{ bug.report_date.strftime('%Y-%m-%d') }}
            <br>
            {% if status == "RESOLVED" %}
            <b>Resolved on:</b> {{ bug.resolve_date }}
            {% endif %}
    </td>
    <td>
      {{ bug_controls(bug) }}
    </td>
</tr>
{% endmacro %}

<!-- MUST IMPORT WITH CONTEXT !! -->
{% macro blog_post(post) %}
<div class="bg-white rounded shadowed block">
    <h3>{{ post.title }}</h3>
    <!-- <div class="tag-mini tag-white">{{ post.post_author.display_name }}</div> -->
    {% if post.pinned == 1 %}
        <div class="tag-mini bg-gray">pinned</div>
    {% endif %}
    {% if post.visibility == 0 %}
        <div class="tag-mini bg-red">private</div>
    {% else %}
        <div class="tag-mini bg-green">public</div>
    {% endif %}
    {{post.content|safe}}
    <div class="author">
        Posted by {{post.post_author.display_name}} on {{post.date}}
        <br>
        {% if current_user.is_authenticated and current_user in project.collaborators %}
            {% if current_user.id == post.author %}
            <a href="{{url_for('projects.edit_post', post_url = post.permalink)}}" class="rounded shadowed button-secondary">Edit</a>
            {% endif %}
            <a href="{{ url_for('projects.view_post', post_url = post.permalink) }}" class="rounded shadowed button-secondary">Comment</a>
            {% if current_user.id == post.author or current_user.id == project.owner %}
                <a href="" class="rounded shadowed button-primary">Delete</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endmacro %}