{% extends 'confined.html' %}
{% import 'macros.html' as macros %}

{% block addons %}
{{ macros.custom_style(project.settings) }}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/quill-snow.css') }}">
{% endblock %}

{% block title %}
    BugDiary - {{project.name}} Blog - Edit Post
{% endblock %}

{% block custom_nav %}
{{ macros.project_nav(project) }}
{% endblock %}

{% block main %}
<h1>{{project.name}} Development Blog</h1>

<div class="main-aside">
    <main>
        <div class="bg-white rounded shadowed block">
            <h3>Edit Blog Post</h3>
            <form method="post" autocomplete="off">
                {{ form.hidden_tag() }}
                {{ form.title.label }}{{ form.title }}
                {{ form.content.label }}{{ form.content }}
                <div id="quillEditor"></div><br>
                {{ form.visibility }}
                {{ form.visibility.label }} <br>
                {{ form.pinned }}
                {{ form.pinned.label }}
                {{ form.edit(class_="button-primary") }}
            </form>
            <script src="{{ url_for('static', filename='js/quill.js') }}?v={{version}}"></script>
            <script type="text/javascript">
                var toolbarOptions = [
                ['bold', 'italic', 'underline'],
                [{ 'header': [2, 3, 4, 5, false] }],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                ['code', 'code-block'],
                ['clean'],
                ];

                var quill = new Quill('#quillEditor', {
                  modules: {
                    toolbar: toolbarOptions
                  },
                  theme: 'snow', // default settings
                  scrollingContainer: 'body'
                });

                // quill.root.innerHTML = document.querySelector('input[name=content]').value;
                var form = document.querySelector('form');
                form.onsubmit = function() {
                  // Populate hidden form on submit
                  var about = document.querySelector('input[name=content]');
                  var editorContent = quill.root.innerHTML;
                  about.value = editorContent;
                };

                quill.root.innerHTML = document.querySelector('input[name=content]').value;

                document.querySelectorAll(".ql-picker").forEach(tool => {
                tool.addEventListener("mousedown", function(event) {
                  event.preventDefault();
                  event.stopPropagation();
                });
              });
            </script>
        </div>
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>Dev Blog Posts</h3>
            <p>
                You can make this post <b>public</b> or <b>private</b>. Public posts are aimed at your testers/users, keeping them up to date with the latest and greatest from your project without boring them with the technical details.
            </p>
            <p>
                Private posts serve as documentation for your project. You can record the creative ways you used to solve the obstacles you encountered, so this information is always available to you!
            </p>
        </div>
    </aside>
</div>


{% endblock %}