{% extends 'confined.html' %}

{% block addons %}
{% endblock %}

{% block title %}
  BugDiary - {{project.name}} - Collaborators
{% endblock %}

{% block custom_nav %}
{{ macros.project_nav(project) }}
{% endblock %}


{% block main %}
<h1>{{ project.name }} - Collaborators</h1>
<div class="main-aside">
    <main>
        <div class="rounded bg-white shadowed block">
            <h3>Current Collaborators</h3>
            {% for collaborator in project.collaborators %}
                <div>
                    {{ collaborator.display_name }}{% if collaborator == current_user %} - (You){% endif %}
                </div>
            {% endfor %}
            <h3>Invite</h3>
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.email.label }}{{ form.email }}
                {{ form.submit(class_="button-primary") }}
            </form>
        </div>
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>About Collaborators</h3>
            <p>
                Collaborators can perform actions on your bugs, but cannot change your project's settings.
            </p>
            <p>
                Some of these actions include commenting on, deleting, or resolving bugs.
            </p>
        </div>
    </aside>
</div>
{% endblock %}
