{% set webtitle = "New BugDiary" %}
{% extends 'confined.html' %}


{% block main %}
<h1>New BugDiary</h1>
<div class="main-aside">
    <main>
        <div class="rounded bg-white shadowed block">
            <form method="post">
                {{ form.hidden_tag() }}

                <h3>About Your Project</h3>
                {{ form.name.label }}{{ form.name }}
                {{ form.current_version.label }}{{ form.current_version(placeholder="i.e. Version 1.0") }}
                {{ form.description.label }}{{ form.description(placeholder="(Optional)") }}
                {{ form.ext_url.label }}{{ form.ext_url(placeholder="(Optional)") }}
                <div class="spacer-medium"></div>
                
                <h3>Basic Preferences</h3>
                {{ form.per_page.label }}{{ form.per_page }}
                {{ form.access_code.label }}{{ form.access_code(placeholder = "(Optional)") }}
                {{ form.allow_suggestions }}
                {{ form.allow_suggestions.label }} <br>
                {{ form.visibility }}
                {{ form.visibility.label }}
                <div class="spacer-medium"></div>

                <h3>Create Your BugDiary</h3>
                <p>
                    You can add collaborators and customize your BugDiary's color scheme in your project's settings page later.
                </p>
                {{ form.create(class_="button-primary") }}

            </form>
        </div>
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>Almost there!</h3>
            <p>The project name will appear at the top of the page (replacing the "BugDiary" title). Remember to be respectful when choosing a name, we reserve the right to delete projects that impersonate another entity, or contains outright offensive words.</p>
            <p>If your project is a website, enter its URL in the "External URL" field. Your users will have an option to go to that URL when they complete reporting.</p>
        </div>
    </aside>
</div>
{% endblock %}
