{% extends 'confined.html' %}

{% block addons %}{% endblock %}

{% block title %}
    BugDiary - {{project.name}} Dashboard
{% endblock %}

{% block custom_nav %}
{{ macros.project_nav(project) }}
{% endblock %}

{% import 'macros.html' as macros %}

{% block main %}
<h1>{{ project.name }}</h1>
<div class="main-aside">
    <main>
        <div class="block lined rounded text-centered bg-white">
            <h3>Diary Stats</h3>
            <div class="block-comparison-3">
                <div class="comp1 text-centered lined bg-white">
                    <h4>Since Last Login</h4>
                    <span class="bignum">{{ since_last_login }}</span>
                </div>
                <div class="comp2 text-centered lined bg-white">
                    <h4>Resolved</h4>
                    <span class="bignum">{{ resolved }}</span>
                </div>
                <div class="comp3 text-centered lined bg-white">
                    <h4>Total Unresolved</h4>
                    <span class="bignum">{{ unresolved }}</span>
                </div>
            </div>

            <div style="text-align: left">
                <h3>Reporting Link</h3>
                <p>
                    Your testers or users can report bugs through the following link:
                    <input type="text" readonly value="https://www.bugdiary.com/r/{{ project.url }}">
                    (Visit: <a href="{{ url_for('core.redirect_to', project_url = project.url )}}">Report a Bug</a> | <a onclick="toggleElement('change_url')">Click to change URL</a>)
                    <p id="change_url" class="hidden">
                        All links are generated randomly. We can change your URL for you if it contains an offensive word. Contact an admin to have your URL changed.
                    </p>
                </p>
            </div>
        </div>

        <div class="spacer-small"></div>
        <h2>New Reports</h2>
        <p>
            The following issues have been reported since your last login. You can see a full list of your reports in <a href="{{ url_for('projects.cards_view', project_url = project.url) }}">cards form</a> or <a href="">table form</a>.
        </p>
        {% if new_reports != None %}
            {% for bug in new_reports %}
            {{ macros.bugcard(bug, False) }}
            {% endfor %}
        {% else %}
            <b>- No new reports since your last login. - </b>
        {% endif %}
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>Memo</h3>
            Ajax this shit
            <br>
            <a class="button-secondary rounded shadowed">Edit</a>
        </div>

        <div class="sidebar-block bg-gray">
            <h3>Useful Links</h3>
            <a href="{{ url_for('projects.settings', project_url = project.url) }}" class="navigation">Project Settings</a>
            <a href="{{ url_for('projects.location_and_type', project_url = project.url) }}" class="navigation">Bug locations and types</a>
            <a href="{{ url_for('projects.blog', project_url = project.url) }}" class="navigation">My Dev Blog</a>
            <a href="{{ url_for('projects.collaborators', project_url = project.url) }}" class="navigation">Collaborators</a>
        </div>
        {{ macros.ad(medium) }}
    </aside>
</div>
{% endblock %}