{% extends 'confined.html' %}

{% block addons %}{% endblock %}

{% block title %}
    BugDiary - {{project.name}} Dashboard
{% endblock %}

{% import 'macros.html' as macros %}

{% block main %}
<h1>{{ project.name }}</h1>
<div class="main-aside">
    <main>
        <div class="bg-white block text-centered">
            <h3>Diary Stats</h3>
            <div class="block-comparison-3">
                <div class="comp1 text-centered lined">
                    <h4>Reported</h4>
                    <span class="bignum">X</span>
                </div>
                <div class="comp2 text-centered lined">
                    <h4>Resolved</h4>
                    <span class="bignum">X</span>
                </div>
                <div class="comp3 text-centered lined">
                    <h4>Unresolved</h4>
                    <span class="bignum">X</span>
                </div>
            </div>
        </div>

        <div class="spacer-small"></div>
        <h2>New Reports</h2>
        <p>
            The following issues have been reported since your last login. You can see a full list of your reports in <a href="">cards form</a> or <a href="">table form</a>.
        </p>
        <div class="bg-white lined shadowed block">

        </div>
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>Memo</h3>
            Ajax this shit
            <br>
            <a class="button-secondary rounded shadowed">Edit</a>
        </div>

        <div class="sidebar-block bg-gray">
            <h3>Useful Links</h3>
            <a href="" class="navigation">Project Settings</a>
            <a href="{{ url_for('projects.location_and_type', project_url = project.url) }}" class="navigation">Bug locations and types</a>
            <a href="{{ url_for('projects.blog', project_url = project.url) }}" class="navigation">My Dev Blog</a>
        </div>
        {{ macros.ad(medium) }}
    </aside>
</div>
{% endblock %}