{% extends 'confined.html' %}

{% block addons %}
{% endblock %}

{% block title %}
  BugDiary - {{project.name}} Settings
{% endblock %}

{% block custom_nav %}
<a href="{{ url_for('users.dashboard') }}">All projects</a>
<a href="{{ url_for('projects.dashboard', project_url = project.url) }}">{{project.name}}</a>
<a href="{{ url_for('projects.settings', project_url = project.url) }}">Settings</a>
<a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}

{% import 'macros.html' as macros %}