{% extends 'confined.html' %}

{% block addons %}
{% endblock %}

{% block title %}
    BugDiary - {{title}} - Bug Locations and Types
{% endblock %}

{% block custom_nav %}
<a href="{{ url_for('users.dashboard') }}">All projects</a>
<a href="{{ url_for('projects.dashboard', project_url = project.url) }}">{{project.name}}</a>
<a href="{{ url_for('projects.settings', project_url = project.url) }}">Settings</a>
<a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}

{% import 'macros.html' as macros %}

{% block main %}

<h1>Possible Locations and Types</h1>
<p class="border-left-accent">
    This is the final step! Help your users/testers describe the bugs they report by listing some possible types (i.e. typos, grammar, suggestions) and locations (i.e. homepage, contact page, url). A preview is available in the yellow box. Click on the "Done" button below when you're ready to move on.
    <br><a href="{{ url_for('projects.dashboard', project_url = url) }}" class="button-primary rounded shadowed">All Done</a>
</p>
<!-- <p class="border-left-accent">
    Users/testers can manually enter a value that's not listed here.
</p> -->
<div class="spacer-medium"></div>
<div class="main-aside-reversed">
    <main>
        <div>
            <form method="post" action="" class="shadowed bg-white block rounded">
                <label for="new_location">New Location</label>
                <input name="new_location" type="text"/>
                <input type="submit" class="button-primary" value="Add Location"/>
            </form>
            <form method="post" action="" class="shadowed bg-white block rounded">
                <label for="new_type">New Type</label>
                <input name="new_type" type="text"/>
                <input type="submit" class="button-primary" value="Add Type"/>
            </form>
        </div>
    </main>
    <aside>
        <div class="block rounded bg-yellow">
            <h3>Preview</h3>
            <p>The following is what your testers/users will see when they report a bug.</p>
            <div class="bg-white rounded shadowed block" id="preview">
                <h3>Reporting a Bug</h3>

                {% if form_type == "suggest" %}
                    <label>Bug Location</label>
                    <input type="text" list="location_list">
                    <datalist id="location_list">
                        {% for loc in bug_locations %}
                        <option value="{{ loc }}"></option>
                        {% endfor %}
                    </datalist>

                    <label>Bug Type</label>
                    <input type="text" list="type_list">
                    <datalist id="type_list">
                        {% for bug_type in bug_types %}
                        <option value="{{ bug_type }}"></option>
                        {% endfor %}
                    </datalist>
                {% elif form_type == "select" %}
                    <label>Bug Location (select)</label>
                    <select>
                        {% for loc in bug_locations %}
                        <option value="{{ loc }}">{{ loc }}</option>
                        {% endfor %}
                    </select>

                    <label>Bug Type (select)</label>
                    <select>
                        {% for bug_type in bug_types %}
                        <option value="{{ bug_type }}">{{ bug_type }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <label>Description</label>
                <textarea></textarea>
                <p>
                    <a onClick="toggleElement('form-contact')">(Optional) Click to Provide Contact Details</a>
                </p>
                <div id="form-contact" class="hidden block bg-gray rounded">
                    <label>Name</label>
                    <input type="text">
                    <label>Email</label>
                    <input type="text" placeholder="(Optional)">
                </div>
                <button type="button" class="button-secondary button-styled">Submit Report</button>
            </div>
        </div>
    </aside>
</div>
{% endblock %}
