{% set webtitle = "Bug Locations and Types" %}
{% extends 'confined.html' %}

{% block main %}

<h1>Possible Locations and Types</h1>
<p class="border-left-accent">
    This is the final step! Help your users/testers describe the bugs they report by listing some possible types (i.e. typos, grammar, suggestions) and locations (i.e. homepage, contact page, url). A preview is available in the yellow box. Click on the "Done" button below when you're ready to move on.
</p>
<a href="" class="button-primary rounded shadowed">All Done</a>
<!-- <p class="border-left-accent">
    Users/testers can manually enter a value that's not listed here.
</p> -->
<div class="spacer-medium"></div>
<div class="main-aside-reversed">
    <main>
        <div>
            <form method="post" class="lined block rounded">
                <label for="">New Location</label>
                <input type="text">
                <button type="button" class="button-primary">Add Location</button>
            </form>
            <form method="post" class="lined block rounded">
                <label for="">New Type</label>
                <input type="text">
                <button type="button" class="button-primary">Add Type</button>
            </form>
        </div>
    </main>
    <aside>
        <div class="block rounded bg-yellow">
            <h3>Preview</h3>
            <p>The following is what your testers/users will see when they report a bug.</p>
            <div class="bg-white rounded shadowed block" id="preview">
                <h3>Reporting a Bug</h3>
                <label>Bug Location</label>
                <select>
                    <option value="">Test</option>
                </select>
                <label>Bug Type</label>
                <select>
                    <option value="">Test</option>
                </select>
                <label>Description</label>
                <textarea></textarea>
                <p>
                    <a onClick="toggleElement('form-contact')">(Optional) Click to Provide Contact Details</a>
                </p>
                <div id="form-contact" class="hidden block bg-gray rounded">
                    <label>Name</label>
                    <input type="text">
                    <label>Email</label>
                    <input type="text" placeholder="(Optional)">
                </div>
                <button type="button" class="button-secondary">Submit Report</button>
            </div>
        </div>
    </aside>
</div>
{% endblock %}
