{% extends 'confined.html' %}
{% import 'macros.html' as macros %}

{% block addons %}
{{ macros.custom_style(project.settings) }}
{% endblock %}

{% block title %}
  {{project.name}} - Report a Bug
{% endblock %}

{% block custom_nav %}
{% if current_user.is_authenticated and current_user in project.collaborators %}
{{ macros.project_nav(project) }}
{% else %}
    <a href="{{ url_for('projects.blog', project_url = project.url) }}">BLOG</a>
    {% if project.settings.ext_url != "" %}
    <a href="{{ project.settings.ext_url }}">BACK TO {{ project.name }}</a>
    {% endif %}
{% endif %}
{% endblock %}

{% block custom_logo %}{{ project.name }}{% endblock %}

{% block main %}
<h1>Report an Issue</h1>
<div class="main-aside">
  <main>
    <div class="bg-white rounded shadowed block">
      <form method="post" autocomplete="off">
        {{ form.hidden_tag() }}
          
        {% if form_type == "suggest" %}
        {{ form.bug_location.label }} {{ form.bug_location(list = 'locations_list') }}
        <datalist id="locations_list">
          {% for bug_location in bug_locations %}
          <option value="{{ bug_location[1] }}">{{ bug_location[1] }}</option>
          {% endfor %}
        </datalist>

        {{ form.bug_type.label }}{{ form.bug_type(list = 'types_list')}}
        <datalist id="types_list">
          {% for bug_type in bug_types %}
          <option value="{{ bug_type[1] }}">{{ bug_type[1] }}</option>
          {% endfor %}
        </datalist>


        {% elif form_type == "select" %}
          {{ form.bug_location.label }} {{ form.bug_location }}
          {{ form.bug_type.label }} {{ form.bug_type }}
        {% endif %}
        
        {{ form.details.label }}{{ form.details }}
        <p>
          <a onClick="toggleElement('form-contact')">Click to Provide Contact Details</a>
        </p>
        <div id="form-contact" class="hidden block bg-gray rounded">
          {{ form.author.label }}{{ form.author }}
          {{ form.author_email.label }}{{ form.author_email }}
        </div>
        {{ form.submit(class_="button-primary") }}
      </form>
    </div>
  </main>
  <aside>
    <div class="sidebar-block bg-gray">
      <h3>Create Your Own</h3>
      <p>BugDiary.com is a simple-to-use issue-tracking and bug-reporting platform, create your own today!</p>
    </div>
    {{ macros.ad(medium) }}
  </aside>
</div>
{% endblock %}