{% extends 'confined.html' %}
{% import 'macros.html' as macros %}

{% block addons %}
{% endblock %}

{% import 'macros.html' as macros %}

{% block title %}
  BugDiary - {{project.name}} - All Bugs
{% endblock %}

{% block custom_nav %}
{{ macros.project_nav(project) }}
{% endblock %}


{% block main %}
<h1>{{ project.name }} - Cards View</h1>
<div class="cards-flex">
    <div class="card">
        <h2>Filters</h2>
        <input type="text">
        <a href="{{ url_for('projects.dashboard', project_url = project.url) }}" class="button-primary shadowed rounded">Go Back</a>
    </div>
    {% for bug in bug_list %}
      {{ macros.bugcard(bug, True) }}
    {% endfor %}
</div>

<div class="hidden">
  <form method="post" autocomplete="off">
    {{ form.hidden_tag() }}
    {{ form.submit() }}
  </form>
</div>
{{ macros.ad("medium")}}
<script>


  function fill_card_form(button_id, action) {
      var instructions = {
          card: button_id,
          action: action
      };
  
  
      fetch(`{{ url_for('projects.manage_card') }}`, {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(instructions),
          cache: "no-cache",
          headers: new Headers({
              "content-type": "application/json"
          })
      })
      .then(function(response) {
      if (response.status !== 200) {
          alert(`Looks like there was a problem. Status code: ${response.status}`);
          return;
      }
      response.json().then(function(data) {
          target_card = document.getElementById('card-' + button_id);
          
          target_card.style.visibility = "hidden";
          // target_card.innerHTML = "#" + button_id + " has been processed. Please refresh the page to see the change.";
      });
      })
      .catch(function(error) {
          alert("Fetch error: " + error);
      });
  }
  
  </script>

{% endblock %}
