{% extends 'confined.html' %}
{% import 'macros.html' as macros %}

{% block addons %}
{% endblock %}

{% import 'macros.html' as macros %}

{% block title %}
  BugDiary - {{project.name}} - All Bugs
{% endblock %}

{% block custom_nav %}
{{ macros.project_nav(project) }}
{% endblock %}


{% block main %}
<h1>{{ project.name }} - Cards View</h1>
<a href="{{ url_for('projects.report', project_url = project.url) }}" class="button-secondary rounded shadowed">Add new</a>
  <a href="{{ url_for('projects.view_bugs', project_url = project.url, view_type = 'tables') }}" class="button-secondary rounded shadowed">Table view</a>
  <a href="{{ url_for('projects.dashboard', project_url = project.url) }}" class="button-secondary rounded shadowed">Go back</a>
{% if request.args.get('searchtype') %}
<div class="bg-yellow rounded block">
  Issues labelled with the <b>{{ request.args.get('searchtype') }}</b> label of <b>{{ request.args.get('searchterm') }}</b>, 
including those with the <b>pending</b> status{% if request.args.get('showDeleted') %}, and those which have been <b>deleted</b>{% endif %}{% if request.args.get('showResolved') %}, and those which have been <b>resolved</b>{% endif %}.
<a href="{{ url_for('projects.view_bugs', project_url = project.url, view_type='cards') }}">Reset filters</a>
</div>
{% endif %}
<div class="cards-flex">
  <div class="card">
    <h2>Search</h2>
      <!-- <p>
        Click on a label (little round rectangle) to show all issues with the same label, or enter a filter criterion below to filter.
      </p> -->
      <form action="{{ url_for('projects.view_bugs', project_url = project.url, view_type='cards') }}" method = "get" autocomplete="off">
        <label for="searchterm">Search Term</label>
        <input name="searchterm" id="searchterm" type="text" placeholder="Containing" required {% if request.args.get('searchterm') %}value="{{ request.args.get('searchterm') }}"{% endif %}>
        <label name="searchtype" id="searchtype" for="searchtype">Label Type</label>
        <select name="searchtype" id="searchtype">
          {% if request.args.get('searchtype') %}
          <option value="{{ request.args.get('searchtype') }}">{{ request.args.get('searchtype') }}</option>
          {% endif %}
          <option value="version">Version Number</option>
          <option value="location">Location</option>
          <option value="type">Type</option>
        </select>
        <input id="showResolved" name="showResolved" type="checkbox" {% if request.args.get('showResolved') %}checked{%endif%}><label for="showResolved">Show Resolved</label> <br>
        <input id="showDeleted" name="showDeleted" type="checkbox" {% if request.args.get('showDeleted') %}checked{%endif%}><label for="showDeleted">Show Deleted</label> <br>
        <input type="submit" value="Filter" class="button-primary">
      </form>
    </div>
    
    {% if bug_list != None %}
    {% for bug in bug_list %}
      {{ macros.bugcard(bug, True) }}
    {% endfor %}
    {% else %}
      <div class="bg-white block rounded">No results.</div>
    {% endif %}
</div>

<div class="hidden">
  <form method="post" autocomplete="off">
    {{ form.hidden_tag() }}
    {{ form.submit() }}
  </form>
</div>
{{ macros.ad("medium")}}
<script>


  function fill_card_form(button_id, action) {
      var instructions = {
          card: button_id,
          action: action,
          format: "card"
      };
  
  
      fetch(`{{ url_for('projects.manage_card') }}`, {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(instructions),
          cache: "no-cache",
          headers: new Headers({
              "content-type": "application/json"
          })
      })
      .then(function(response) {
      if (response.status !== 200) {
          alert(`Looks like there was a problem. Status code: ${response.status}`);
          return;
      }
      response.json().then(function(data) {
          target_card = document.getElementById('card-' + button_id);
          
          target_card.innerHTML = data['result'];
          // target_card.innerHTML = "#" + button_id + " has been processed. Please refresh the page to see the change.";
      });
      })
      .catch(function(error) {
          alert("Fetch error: " + error);
      });
  }
  
  </script>

{% endblock %}
