nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #a0a0a0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 40;
  width: 300px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;

  & > div:first-child {
    padding-top: 4rem;
  }
}
