header {
  background-color: #358bdc;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 50;

  #title {
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  #side-nav-toggle {
    position: absolute;
    left: 1rem;
    appearance: none;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
  }
}
