@import "../../scss-variables.scss";

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 40;
  width: 300px;
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;

  section > a:link,
  section > a:visited,
  #clear-recents-button {
    text-align: right;
    display: block;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #5f5f5f;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }
  section > a:hover {
    color: #000000;
  }

  section > h2 {
    text-transform: uppercase;
    margin: 1rem 0 0 0;
    text-align: right;
    padding: 1rem 2rem 0 1rem;
  }

  #nav-icons {
    display: flex;
    padding: 1.5rem;
    padding-top: 5.5rem;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $line-color;
  }

  #nav-icons > a {
    padding: 0;
    text-align: center;
    display: block;
    font-size: 2rem;
  }

  #footer {
    border-top: 1px solid $line-color;
    text-align: center;
    padding: $standard-spacing * 2;
  }

  #clear-recents-button {
    appearance: none;
    border: none;
    background-color: transparent;
    width: 100%;
    color: #ff3939;
  }
}
