@import "../../scss-variables.scss";

.two-column-layout {
  padding-top: $standard-spacing;
  display: flex;
  flex-direction: row;

  & > main {
    flex-grow: 2;
    text-align: left;
  }

  & > aside {
    min-width: 325px;
    text-align: left;
    flex-grow: 1;
    padding-left: $standard-spacing;
    max-width: 300px;
  }
}

@media screen and (max-width: $cutoff-1 + 100px) {
  .two-column-layout {
    flex-direction: column;
    padding: 1rem;
    & > main,
    & > aside {
      flex-grow: 1;
      padding-left: 0;
      max-width: 100%;
    }
  }
}
