@import "../../scss-variables.scss";

.two-column-equal {
  padding: $standard-spacing;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $standard-spacing;
  & > div {
    flex: 1;
  }
}

@media screen and (max-width: $cutoff-1) {
  .two-column-equal {
    flex-direction: column;
  }
}
