#splash {
    margin-top: 0;
    background-color: #fff;
    padding: 4em;
    display: grid;
    grid-template-areas: ". image text .";
    grid-template-columns: "1fr 4fr 4fr 1fr";
    grid-gap: 1em;
    align-items: center;
  }
  #splash h1 {
    display: block;
    margin: 0;
    color: #a72c30;
    font-weight: 100;
    font-size: 3em;
    font-family: "Courier New", Courier, monospace;
  }
  #splash p {
    color: #393939;
    font-weight: 100;
  }
  #splash a, #splash p {
    font-size: 1.3em;
  }
  #splash #splash-img {
    grid-area: image;
    max-width: 100%;
  }
  #splash #splash-text {
    grid-area: text;
    max-width: 500px;
  }
  
  @media screen and (max-width: 1200px) {
    #splash {
      padding: 4em 1em;
      grid-template-areas: "image text";
      grid-template-columns: "1fr 2fr";
    }
  }
  @media screen and (max-width: 900px) {
    #splash {
      padding: 2em;
      grid-template-areas: "image" "text";
      grid-template-columns: auto;
      grid-gap: 3em;
    }
    #splash h1 {
      font-size: 2em;
    }
  }


  .aside-main-reversed, .main-aside-reversed {
    display: grid;
    grid-gap: 1.5em;
  }
  .aside-main-reversed main, .main-aside-reversed main {
    grid-area: main;
  }
  .aside-main-reversed aside, .main-aside-reversed aside {
    grid-area: aside;
  }
  
  .main-aside-reversed {
    grid-template-areas: "main aside";
    grid-template-columns: 30% auto;
  }
  
  .aside-main-reversed {
    grid-template-areas: "aside main";
    grid-template-columns: auto 30%;
  }

  @media screen and (max-width: 845px) {
    .main-aside-reversed, .aside-main-reversed {
      grid-template-areas:
        "main"
        "aside";
      grid-template-columns: auto;
      grid-template-rows: auto auto;
    }
  }