#splash {
    margin-top: 0;
    background-color: #fff;
    padding: 4em;
    display: grid;
    grid-template-areas: ". image text .";
    grid-template-columns: "1fr 4fr 4fr 1fr";
    grid-gap: 1em;
    align-items: center;
  }
  #splash h1 {
    display: block;
    margin: 0;
    color: #000;
    font-size: 3.5em;
  }
  #splash p {
    color: #393939;
  }
  #splash #splash-img {
    grid-area: image;
    max-width: 100%;
  }
  #splash #splash-text {
    grid-area: text;
    max-width: 500px;
  }
  
  @media screen and (max-width: 1200px) {
    #splash {
      padding: 4em 1em;
      grid-template-areas: "image text";
      grid-template-columns: "1fr 2fr";
    }
  }
  @media screen and (max-width: 900px) {
    #splash {
      padding: 2em;
      grid-template-areas: "image" "text";
      grid-template-columns: auto;
      grid-gap: 3em;
    }
    #splash h1 {
      font-size: 2em;
    }
  }