section.highlighted {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  min-height: 400px;
  text-align: left;

  p {
    line-height: 150%;
    text-align: left;
  }

  .section-text {
    max-width: 33%;
    display: flex;
    flex-direction: column;
  }
  .section-image {
    flex-grow: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 1000px) {
  section.highlighted {
    flex-direction: column;

    .section-text {
      max-width: none;
      order: 1 !important;
      margin: 0 !important;
      // margin-left: auto;
      // margin-right: auto;
    }

    .section-image {
      width: 100%;
      min-height: 400px;
      order: 2 !important;
    }
  }
}
