@import "../../scss-variables.scss";

.my-masonry-grid .issue-container {
  max-width: 400px;
  text-align: left;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 0 auto 1rem auto;

  & > main {
    padding: 1rem;
    word-wrap: break-word;
  }

  .controls {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  & > footer {
    font-size: 0.9em;
    padding: 1rem;
    background-color: #c7c7c7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.table-view .issue-container {
  position: relative;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-size: 1.2rem;
  }

  .controls {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  main {
    // background-color: red;
    word-wrap: break-word;
  }

  > footer {
    margin-top: 3rem;

    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    text-align: right;

    div {
      font-size: 0.7rem;
      text-align: center;
      width: 150px;
      display: block;
      border-radius: 1rem;
      -moz-border-radius: 1rem;
      -webkit-border-radius: 1rem;
      background-color: #c7c7c7;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.my-masonry-grid,
.table-view {
  .DELETED {
    color: #7e7e7e;
    outline: 1px solid #393939;
    background-color: transparent;
  }
  .PRIORITIZED {
    outline: 1px solid #ff9b9b;
  }
  .RESOLVED {
    outline: 1px solid #c8ff9b;
  }
}

@media screen and (max-width: 560px) {
  .table-view .issue-container > footer {
    display: none;
  }
}
