.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > div {
    animation: rotation 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 100px;
    color: #000;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
