@import "../../scss-variables.scss";

.issue-container {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;

  & > main {
    padding: 1rem;
  }

  .controls {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
