{% extends 'confined.html' %}
{% import 'macros.html' as macros %}

{% block addons %}
{% endblock %}

{% block title %}
    BugDiary - Title
{% endblock %}

{% block custom_nav %}{% endblock %}


{% block main %}
<h1>All Bug Diaries</h1>
<div class="main-aside">
    <main>
        {{ macros.search(projects.items) }}
        
        {% for project in projects.items %}
        <div class="rounded shadowed bg-white block">
            <h3>{{project.name}}</h3>
            <p>
                {% if project.description != "" %}
                {{project.description}}
                {% else %}
                No description provided.
                {%endif%}
            </p>
            <a href="{{ url_for('projects.dashboard', project_url = project.url) }}" class="button-primary rounded shadowed">Go to this Bug Diary</a>
        </div>
        {% endfor %}
        {% if prev_url != None or next_url != None %}
            <div class="block-comparison-2">
            <div class="comp1 rounded lined block text-centered">
                {% if prev_url != None %}
                <a href="{{ prev_url }}">&llarr; Previous</a>
                {% else %}
                First Page
                {% endif %}
            </div>
            <div class="comp2 rounded lined block text-centered">
                {% if next_url != None %}
                <a href="{{ next_url }}">Next &rrarr;</a>
                {% else %}
                Last Page
                {% endif %}
            </div>
        </div>
        {% endif %}
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>Projects Limit</h3>
            <p>
                The maximum number of projects you can have is 20 (both created and collaborating). You can still collaborate on new projects with other users, but you will not be able to create any new ones.
            </p>
        </div>
        <div class="sidebar-block bg-gray">
            <h3>Sort by</h3>
            <select onchange="location = '?order=' + this.value;">
                <option value="{{ request.args.get('order') }}">Current: {{ request.args.get('order') }}</option>
                <option value="recency">Sort by recency (Latest activity first)</option>
                <option value="alphabetical">Sort alphabetically (A-Z)</option>
                <option value="creation">Sort by creation date (oldest first)</option>
            </select>
        </div>
    </aside>
</div>
{% endblock %}
