{% extends 'confined.html' %}

{% block addons %}
{% endblock %}

{% block title %}
    BugDiary - Preferences
{% endblock %}

{% import 'macros.html' as macros %}
{% block main %}

<h1>{{ current_user.display_name}}'s Preferences</h1>
<div class="main-aside">
    <main>
        <div class="bg-white rounded shadowed block">
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.display_name.label }}{{ form.display_name }}
                {{ form.email.label }}{{ form.email }}
                {{ form.bio.label }}{{ form.bio }}
                {{ form.change(class_="button-primary") }}
            </form>
        </div>
    </main>
    <aside>
        <div class="bg-gray sidebar-block">
            <h3>Change Password</h3>
            <a href="{{ url_for('users.settings') }}" class="navigation">Go to Settings</a>
        </div>
        <div class="bg-gray sidebar-block">
            <h3>Terms and Privacy Policy</h3>
            <p>We <b><u>do not</u></b> want your personal data. Do not enter any personally-identifiable information anywhere on BugDiary.com. You must agree to our privacy policy and terms and conditions in order to use this service.</p>
        </div>
    </aside>
</div>

{% endblock %}