{% extends 'confined.html' %}

{% block addons %}
{% endblock %}

{% block title %}
    BugDiary - Register
{% endblock %}

{% import 'macros.html' as macros %}
{% block main %}

<h1>User Registration</h1>
<div class="main-aside">
    <main class="bg-white rounded shadowed block">
        <form method="post" autocomplete="off">
            <h3>For Logging In</h3>
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email }}
            {{ form.password.label }} {{ form.password }}
            {{ form.cfm_password(placeholder = "Confirm Password") }}
            <div class="spacer-medium"></div>

            <h3>Something About Yourself</h3>
            {{ form.name.label }} {{ form.name }}
            {{ form.bio.label }} {{ form.bio(placeholder = "Optional") }}
            <div class="spacer-medium"></div>

            <h3>Terms of Service and Privacy Policy</h3>
            {{ form.tos }} {{ form.tos.label() }}
            <p></p>
            {{ form.submit(class_="button-primary") }}
            <div class="spacer-medium"></div>

            <h3>Development Notice</h3>
            <p>This website is currently under development (testing stage), any data stored on the server may be DELETED at any time. USE AT YOUR OWN RISK.</p>
        </form>
    </main>
    <aside>
        <div class="bg-gray sidebar-block">
            <h3>Terms and Privacy Policy</h3>
            <p>We <b><u>do not</u></b> want your personal data. Do not enter any personally-identifiable information anywhere on BugDiary.com. You must agree to our privacy policy and terms and conditions in order to use this service.</p>
        </div>
    </aside>
</div>

{% endblock %}