{% set webtitle = "Sign Up" %}
{% extends 'confined.html' %}
{% block main %}

<h1>User Registration</h1>
<div class="main-aside">
    <main class="bg-white rounded lined block">
        <form method="post">
            <h3>For Logging In</h3>
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email }}
            {{ form.password.label }} {{ form.password }}
            {{ form.cfm_password(placeholder = "Confirm Password") }}
            <div class="spacer-medium"></div>

            <h3>Something About Yourself</h3>
            {{ form.name.label }} {{ form.name }}
            {{ form.bio.label }} {{ form.bio(placeholder = "Optional") }}
            <div class="spacer-medium"></div>
            
            <h3>Terms of Service and Privacy Policy</h3>
            <p></p>
            {{ form.tos }} {{ form.tos.label() }}
            {{ form.submit(class_="button-primary") }}
        </form>
    </main>
    <aside>
        <div class="bg-gray rounded sidebar-block">
            <h3>Terms and Privacy Policy</h3>
            <p>We <b><u>do not</u></b> want your personal data. Do not enter any personally-identifiable information anywhere on BugDiary.com. You must agree to our privacy policy and terms and conditions in order to use this service.</p>
        </div>
    </aside>
</div>

{% endblock %}