{% extends 'confined.html' %}

{% block addons %}
{% endblock %}

{% block title %}
    BugDiary - Search
{% endblock %}

{% import 'macros.html' as macros %}

{% block main %}
<h1>Search</h1>
<div class="main-aside">
    <main>
        {{ macros.search(current_user.collab_projects) }}
        {% if results != None %}
            {% for result in results %}
            <div class="bg-white shadowed rounded lined block">
                <h3>{{ result.name }}</h3>
                <p>
                    {% if result.description != "" %}
                    {{ result.description }}
                    {% else %}
                    No description provided.
                    {% endif %}
                </p>
                <a href="{{ url_for('projects.dashboard', project_url = result.url) }}" class="button-primary shadowed roundedg">Go to '{{ result.name }}'</a>
            </div>
            {% endfor %}
        {% else %}
            <div class="rounded lined block">
                <h3>No matching projects</h3>
            </div>
        {% endif %}
    </main>
    <aside>
        <div class="bg-gray sidebar-block">
            <h3>Can't find it?</h3>
            <a href="{{ url_for('projects.create') }}" class="navigation">Create New Project</a>
        </div>
    </aside>
</div>
{% endblock %}