{% extends 'confined.html' %}

{% block addons %}
{% endblock %}

{% block title %}
    BugDiary - Settings
{% endblock %}

{% import 'macros.html' as macros %}
{% block main %}

<h1>{{ current_user.display_name}}'s Account Settings</h1>
<div class="main-aside">
    <main class="bg-white rounded shadowed block">
        <form method="post" autocomplete="off">
            {{ form.hidden_tag() }}
            {{ form.current_password.label }}{{ form.current_password }}
            {{ form.new_password.label }}{{ form.new_password }}
            {{ form.cfm_password.label }}{{ form.cfm_password }}
            {{ form.change(class_="button-primary") }}
        </form>
    </main>
    <aside>
        <div class="bg-gray sidebar-block">
            <h3>Terms and Privacy Policy</h3>
            <p>We <b><u>do not</u></b> want your personal data. Do not enter any personally-identifiable information anywhere on BugDiary.com. You must agree to our privacy policy and terms and conditions in order to use this service.</p>
        </div>
    </aside>
</div>

{% endblock %}