{% set webtitle = "My BugDiaries" %}
{% extends 'confined.html' %}

{% block main %}
<h1>My BugDiaries</h1>
<div class="main-aside">
    <main>
        <div class="bg-white rounded lined block text-centered">
            <h3>Global Stats</h3>
            <div class="block-comparison-3">
                <div class="comp1 text-centered lined bg-white">
                    <h4>Reported</h4>
                    <span class="bignum">12</span>
                </div>
                <div class="comp2 text-centered lined bg-white">
                    <h4>Resolved</h4>
                    <span class="bignum">5</span>
                </div>
                <div class="comp3 text-centered lined bg-white">
                    <h4>Unresolved</h4>
                    <span class="bignum">20</span>
                </div>
            </div>
        </div>

        <div class="bg-white rounded lined block">
            <h2>BugDiary</h2>
            <div class="hidden">
                <p>
                    Some description about this project.
                </p>
            </div>
            <a href="" class="navigation">Go to BugDiary</a>
        </div>
    </main>
</div>
{% endblock %}