{% extends 'confined.html' %}

{% block addons %}
{% endblock %}

{% block title %}
    BugDiary - {{current_user.display_name}}'s Dashboard
{% endblock %}

{% import 'macros.html' as macros %}

{% block main %}
<h1>My BugDiaries</h1>
<div class="main-aside">
    <main>
        <div class="bg-white rounded shadowed block text-centered">
            <!-- filter bugs table and find all that belongs to this user and is older than last login date -->
            <h3>Global Stats</h3>
            <div class="block-comparison-3">
                <div class="comp1 text-centered lined bg-yellow">
                    <h4>Since Last Login</h4>
                    <span class="bignum">{{ since_last_login }}</span>
                </div>
                <div class="comp2 text-centered lined bg-green">
                    <h4>Total Resolved</h4>
                    <span class="bignum">{{ resolved }}</span>
                </div>
                <div class="comp3 text-centered lined bg-red">
                    <h4>Total Unresolved</h4>
                    <span class="bignum">{{ unresolved }}</span>
                </div>
            </div>
        </div>

        <div class="bg-white rounded shadowed block">

            <h2>My Own</h2>
            <p>
                The following are Bug Diaries you created, click on the name to show the diary's description!
            </p>
            
            {% for project in user.owned_projects %}
            <div class="project-summary" onclick="toggleElement('sum-{{loop.index}}')">
                <div class="name shadowed">
                    <a href="{{ url_for('projects.dashboard', project_url = project.url) }}">open</a>{{ project.name }}
                    <p class="hidden" id="sum-{{loop.index}}">
                        {% if project.description != "" %}
                        {{ project.description }}
                        {% else %}
                        No Description Provided
                        {% endif %}
                    </p>
                </div>
                <div class="stats text-centered shadowed bg-yellow">
                    X
                </div>
                <div class="stats text-centered shadowed bg-green">
                    X
                </div>
                <div class="stats text-centered shadowed bg-red">
                    X
                </div>
            </div>
            
            {% endfor %}

            <div class="spacer-small"></div>
            <h4>Expiry</h4>
            <p>
                Bug Diaries will expire in 6 months unless you manually extend the expiry date. You can choose one bug diary to be perpetual by favoriting it in its own settings page.
            </p>
            
            <div class="spacer-small"></div>
            <a href="{{ url_for('projects.create') }}" class="button-primary rounded shadowed">
                Create New BugDiary
            </a>

        </div>
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>Welcome Back!</h3>
            <p>Hi {{ current_user.display_name }}, your last login was on {{ current_user.last_login.strftime('%Y-%m-%d') }}.</p>
        </div>
        <div class="sidebar-block bg-gray">
            <h3>Useful Links</h3>
            <a href="" class="navigation">My Preferences</a>
            <a href="" class="navigation">My Account</a>
            <a href="" class="navigation">Upgrade to Premium</a>
        </div>
        {{ macros.ad(medium) }}
    </aside>
</div>
{% endblock %}