@import "../../scss-variables.scss";

.controls {
  text-align: right;
}

.controls-menu {
  z-index: 36;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
  width: 250px;
  text-align: center;

  border-radius: 10px 0px 10px 10px;
  -moz-border-radius: 10px 0px 10px 10px;
  -webkit-border-radius: 10px 0px 10px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.controls-toggle {
  appearance: none;
  border: 0;
  background-color: transparent;
}
