@import "../../scss-variables.scss";

.lined-container {
  border: 1px solid #9c9c9c;
  padding: 0.5rem 1rem;
  border-radius: $standard-spacing;
  -moz-border-radius: $standard-spacing;
  -webkit-border-radius: $standard-spacing;
  margin-bottom: $standard-spacing;
}
