.navigation-button {
  appearance: none;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  background-color: #358bdc;
  color: #fff;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
}
