{% extends 'confined.html' %}
{% import 'macros.html' as macros %}

{% block addons %}
{% endblock %}

{% block title %}
    BugDiary - About Us
{% endblock %}

{% block main %}
<h1>About Us</h1>
<div class="main-aside">
    <main>
        <div class="bg-white rounded shadowed block">
            <h2>What's BugDiary?</h2>
            <p>
                An online issue-tracking and reporting platform that doesn't have a steep learning curve and is free to use!
            </p>
            <img src="{{ url_for('static', filename='images/scrnsht2.png') }}" alt="Screenshot of reporting page">
            <div class="spacer-medium"></div>

            <h2>Who is BugDiary for?</h2>
            <p>
                It's for anyone who manages a project and wants a <i>simple</i> way to keep track of issues. It's especially useful if your project involves <b>pilot-testing</b> with a group of testers, because testers can report errors without signing up for an account!
            </p>
            <img src="{{ url_for('static', filename='images/scrnsht1.png') }}" alt="Screenshot of reporting page">
            <p>
                Advanced users can take advantage of the BugDiary API to allow for issue-reporting directly from your website.
            </p>
            <div class="spacer-medium"></div>

            <h2>Why BugDiary?</h2>
            <p>
                BugDiary helps you manage several projects at once, helping you keep track of activities at a glance.
            </p>
            <img src="{{ url_for('static', filename='images/scrnsht3.png') }}" alt="Screenshot of user dashboard">
            <p>
                One of the popular built-in features is the <b>development blog</b>, where you can document the creative ways you used to solve your problems! You can also use the blog to provide updates to your users, keeping everyone on the same page.
            </p>
            <div class="spacer-medium"></div>

            <h2>Meet the team</h2>
            <p>
                There's no team to speak of for now, I created BugDiary because it's a tool that I need! I'm a research assistant at two of Simon Fraser Univerity's psychology laboratories, and my job often involves pilot-testing experiments before we run them with real participants.
            </p>
            <p>
                BugDiary was created to help everyone at the lab centralize communications at a time when face-to-face interactions are difficult. I hope this saves a few people from flooded inboxes when working online!
            </p>
            <p>
                This service is free for anyone to use, provided you agree to the terms and conditions and privacy policy. You can support BugDiary by disabling your ad-blocker or upgrading to a premium account!
            </p>
        </div>
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>Contact</h3>
            <p>
                Please reach me at <b>sensworks.ca@gmail.com</b> for any inquiries.
            </p>
        </div>
    </aside>
</div>
{% endblock %}
