{% extends 'confined.html' %}
{% import 'macros.html' as macros %}

{% block addons %}
<style>
    .screenshot {
        display: block;
        width: 90%;
        border: 1px solid #393939;
        margin: 1em auto;
    }
</style>
{% endblock %}

{% block title %}
    BugDiary by Daryl
{% endblock %}

{% block main %}
<h1>About the Author</h1>
<div class="main-aside">
    <main>
        <div class="bg-white rounded shadowed block">
            <h2>Daryl</h2>
            <p>
                I'm Daryl - an undergraduate psychology student, an assistant lab manager at SFU Vision lab, and a research assistant at SFU Helping and Happiness lab.
            </p>
            <p>
                As a hobbyist programmer, I enjoy creating online tools that help others and myself complete daily tasks. This is how BugDiary.com was created! During these times of social isolation, I've built an online platform for all my colleagues and I to collaborate on while working from home.
            </p>
            <p>
                Despite BugDiary still being in its testing phase, it has gained popularity and support from professors and graduate students who are transitioning into running online experiments (testimonials to come). 
            </p>
            <div class="spacer-small"></div>

            <h2>Programming Experience</h2>
            <p>
                People often have more than one passion, and mine is in Psychology and in programming. Aside from BugDiary, I've created numerous other public-facing projects, including:
                <ul>
                    <li>
                        <a href="http://www.sfu.ca/psychology/research/hhl/">Helping and Happiness Lab</a> website (AEM)
                    </li>
                    <li>
                        <a href="https://www.amtb.ca">Amitabha Canada</a> (PHP)
                    </li>
                    <li>
                        <a href="https://quest-research.ca">Quest Research</a> (Python, Flask)
                    </li>
                    <li>
                        ... And <a href="https://www.bugdiary.com">BugDiary</a> (Python, Flask)
                    </li>
                </ul>
                ... And also private projects:
                <ul>
                    <li>fluidnotebook.com - online sales prospecting software to help me at my part-time sales job (Python, Flask)</li>
                    <li>SFU Vision Lab Portal (RA Management and collaboration) (Python, Flask)</li>
                    <li>CoHelper - Content Management System (Python, Flask)</li>
                    <li>Stimgen - Automatically create visual stimuli for psychology experiments</li>
                </ul>
                ... And in progress:
                <ul>
                    <li>SFU Vision Lab website</li>
                    <li>Abby's Beauty and Beyond Salon website</li>
                    <li><a href="https://www.studying.club">Studying Club</a> (Testing)</li>
                </ul>
            </p>
            <div class="spacer-small"></div>

            <h2>Tying Psychology to Technology</h2>
            <p>
                At the Vision Lab, we research human attention, which I believe should be taken into consideration when designing user interfaces and effective webpages.
            </p>
            <div class="spacer-small"></div>

            <h2>Contact Me</h2>
            <p>
                Please contact me at <b>sensworks.ca@gmail.com</b> if you have any questions!
            </p>
        </div>
    </main>
    <aside>
        <div class="sidebar-block bg-gray">
            <h3>Contact Information</h3>
            <p>
                I can be reached at <b>sensworks.ca@gmail.com</b>
            </p>
        </div>
    </aside>
</div>
{% endblock %}
