{% set web_title = "Homepage" %}
{% extends 'unconfined.html' %}

{% block main %}
<section id="splash">
  <div id="splash-img">
    <img src="{{ url_for('static', filename='images/splash.png') }}" style="max-width: 100%;" alt="">
  </div>
  <div id=splash-text>
    <h1>General-Purpose Bug Tracker</h1>
    <p>BugDiary is a <b>simple-to-use</b> project collaboration and issue-tracking platform that's built for everyone.</p>
    <p></p>
    <a href="" class="button-primary rounded shadowed">Start Now</a>
  </div>
</section>
<section class="confined block-comparison-3">
  <div class="comp1 rounded text-centered bg-yellow shadowed">
    <h2>Critical Info at a Glance</h2>
    <p>Daily progress reports and stats to keep you and your team on track to success.</p>
  </div>
  <div class="comp2 rounded text-centered bg-yellow shadowed">
    <h2>Your Development Blog</h2>
    <p>Keep users and collaborators up to date with the latest from your project.</p>
  </div>
  <div class="comp3 rounded text-centered bg-yellow shadowed">
    <h2>Effortless Reporting</h2>
    <p>Users and testers can report issues without signing up for an account.</p>
  </div>
</section>

{% endblock %}
