{% set web_title = "Homepage" %}
{% extends 'unconfined.html' %}

{% block main %}
<section id="splash">
  <div id="splash-img">
    <img src="{{ url_for('static', filename='images/splash.png') }}" alt="">
  </div>
  <div id=splash-text>
    <h1>General-Purpose Bug Tracker</h1>
    <p>BugDiary is a <b>simple-to-use</b> issue-reporting and bug-tracking platform that's built for everyone.</p>
    <p>Did I mention that it's free to use?</p>
    <p></p>
    <a href="{{ url_for('users.register') }}" class="button-primary rounded shadowed">Start Now</a>
  </div>
  
</section>


<section class="bg-white">
  <div class="block-comparison-3 confined">
    <div class="comp1 rounded text-centered bg-gray">
      <h2>Critical Info at a Glance</h2>
      <p>Progress reports and stats to keep you and your team on track to success.</p>
    </div>
    <div class="comp2 rounded text-centered bg-gray">
      <h2>Your Development Blog</h2>
      <p>Keep users and collaborators up to date with the latest from your project.</p>
    </div>
    <div class="comp3 rounded text-centered bg-gray">
      <h2>Effortless Reporting</h2>
      <p>Users and testers can report issues without signing up for an account.</p>
    </div>
  </div>
  <div class="spacer-medium"></div>
</section>



<section class="padded bg-white">
  <div class="confined main-aside-reversed">
    <main class="padded">
      <h1>For You and Your Audience</h1>
      <p>
        If someone encounters a bug while using your project, they can report it to your BugDiary without signing up for an account.
      </p>
      <p>
        BugDiary is a non-technical bug tracker, meaning that anyone can pick it up and start using it. You can get set up in <b>less than 5 minutes</b> (including registration)!
      </p>
    </main>
    <aside class="shadowed" style="background-repeat: no-repeat; background-size: cover; min-height: 300px; background-image: url({{ url_for('static', filename='images/friendly.jpg') }})">
    </aside>
  </div>
</section>




<section class="padded bg-white">
  <div class="confined aside-main-reversed">
    <main class="padded">
      <h1>Track Multiple Projects</h1>
      <p>
        Reports are generated each time you login, telling you how many issues have been reported or solved across all your BugDiaries since your last login.
      </p>
      <p>
        Collaborate with other BugDiary users to track multiple projects together.
      </p>
      <a href="{{ url_for('users.register') }}" class="button-primary rounded shadowed">Sign Up Now</a>
    </main>
    <aside class="shadowed" style="background-repeat: no-repeat; background-size: cover; min-height: 300px; background-image: url({{ url_for('static', filename='images/debug.jpg') }})">
    </aside>
  </div>
  <div class="spacer-large"></div>
</section>



<section class="text-centered padded" style="background-color: #b4b4b4">
  <h1>More Features</h1>
  <div class="block-comparison-3 confined">
    <div class="comp1 lined bg-white rounded shadowed">
      <h3>Night Mode<sup>1</sup></h3>
      <p>
        Don't get blinded in the dark, set your BugDiary to Night Mode
      </p>
    </div>
    <div class="comp2 lined bg-white rounded shadowed">
      <h3>Mobile Friendly</h3>
      <p>
        Check your team's progress anywhere, even on your phone
      </p>
    </div>
    <div class="comp3 lined bg-white rounded shadowed">
      <h3>BugDiary API<sup>1,2</sup></h3>
      <p>
        Seamlessly integrate BugDiary into your website using the API
      </p>
    </div>
  </div>
  <div class="block-comparison-3 confined">
    <div class="comp1 lined bg-white rounded shadowed">
      <h3>Customized Appearance<sup>1</sup></h3>
      <p>
        Set your BugDiary's color scheme and page heading
      </p>
    </div>
    <div class="comp2 lined bg-white rounded shadowed">
      <h3>Version Management</h3>
      <p>
        Bugs are tied to specific versions of your project
      </p>
    </div>
    <div class="comp3 lined bg-white rounded shadowed">
      <h3>Due Date Tracker</h3>
      <p>
        Sometimes what we need is a ticking timer to remind us to get back to work
      </p>
    </div>
  </div>
  <p style="text-align: left;" class="confined">
    1. Feature coming soon.<br>
    2. Premium feature

  </p>
</section>

{% endblock %}
