@import "../../scss-variables.scss";

form {
  font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"],
input[type="password"],
button[type="submit"],
select,
textarea,
button.custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  padding: $standard-spacing/2;
  width: 100%;
  border: 1px solid $line-color;
  font-family: inherit;
  margin-bottom: $standard-spacing;
  border-color: $line-color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0.5em 0.5em 1em 0.5em;
}

.button-primary {
  background-color: $primary-color;
  color: $primary-color-text;
}

.button-secondary {
  background-color: $secondary-color;
  color: $secondary-color-text;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  margin-bottom: $standard-spacing;
  resize: vertical;
}

.form-error {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #ffd3d3;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
}
